name: check
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    if: github.actor != 'bitdriftlabs-terraform[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: bufbuild/buf-action@v1
        with:
          push: false
          input: src/
      - name: Check license
        run: tools/check_license.sh
